{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "jest": true
  },
  "globals": {
    "window": true,
    "document": true
  },
  "rules": {
    "import/prefer-default-export": 0,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 1,
    "camelcase": 0,
    "array-callback-return": 0,
    "no-restricted-syntax": 0,
    "react/forbid-prop-types": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ]
  },
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["./src"],
        "extensions": [".js", ".jsx", ".ts", ".tsx"]
      }
    }
  }
}